header {
        display:block;
        min-width:$desktop;
        max-width:1280px;
        margin: 0 auto;

        @media (max-width: $desktop) {
            display:block;
            max-width:$desktop;
            min-width:350px;
            margin: 0 auto;
        }
}


.top-bar-wrapper {
    max-height:125px;
    padding:1.5em;
   
    .top-content-dock {
        position:relative;
        
        .logo {
            display:inline-block;
            background-image: url("/images/logo-HPF.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height:77px;
            width:120px;
            
        }

        h4 {
            position:absolute;
            bottom:0;
            left: calc(125px + 1.6em);
            font-weight: 600;
            font-style: italic;
            color: #588d32;
            font-size: 1.4em;
            letter-spacing: -0.02em;
            line-height: 1
        }

        .account-buttons {
            position:absolute;
            right:2.0em;
            top:2.5em;
            bottom:0;
            height:125px;

            li {
                display:inline-block;
            }

                .button {
                    text-align: center;
                    line-height: 1;
                    cursor: pointer;
                    vertical-align: middle;
                    border: 1px solid transparent;
                    border-radius: .25rem;
                    padding: 1.5em 2em 1.6em;
                    margin: 0 0 1.5rem 0;
                    font-size: 0.75em;
                    background-color: #588d32;
                    color: #fff;
                }
          }
    } //Top content dock

    .navi-bar-wrapper {
        
        .navi-bar-dock {

            .navi-bar-items {
                
                li {
                    display:inline-block;
                }
            }
        }
    }

} //Top bar wrapper

