header {
        display:block;
        min-width:$desktop;
        max-width:1280px;
        margin: 0 auto;

        @media (max-width: $desktop) {
            display:block;
            max-width:$desktop;
            min-width:350px;
            margin: 0 auto;
        }
}

.top-bar-wrapper {
    max-height:125px;
    padding:1.5em;
    
    .left-block {
        position:relative;
    
        .logo {
            background-image: url("/images/logo-HPF.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height:77px;
            width:120px;
            
        }

        h4 {
            position:absolute;
            bottom:0;
            left: calc(125px + 1.6em);
            font-weight: 600;
            font-style: italic;
            color: #588d32;
            font-size: 1.4em;
            letter-spacing: -0.02em;
            line-height: 1
        }
    
    }

    .right-block {
        position:relative;

        .right-block-account-buttons {
            display:inline-block;
        }
    }

}
